{
  "parser": "@typescript-eslint/parser",

  "parserOptions": { "ecmaVersion": 2016, "sourceType": "module" },
  "rules": {},
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "env": {
    "browser": true,
    "es2018": true
  }
}
